<div class="container-fluid mt-50">                              
    <div class="row">

      <div class="col-md-4">

        <div class="product-card mb-30">
<a class="product-thumb" href="#" data-abc="true"><img src="product.imageUrl" alt="Product"></a>
<div class="product-card-body">
<div class="product-category"><a href="#" data-abc="true">name</a></div>
<h3 class="product-title"><a href="#" data-abc="true">Microsoft Surface Pro 4</a></h3>
<h4 class="product-price">42987</h4>
</div>
</div>
        
      </div>
    </div>
</div>